* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {

}

.message {
    display: none;
    position: fixed;
    margin: 15px;
    width: 250px;
    background-color: #ac1d35;
    border: 1px solid red;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    text-align: left;
    padding: 15px;
}

.function-menu {
    background-color: rgb(236, 236, 236);
}

.adding-selected-school-subjects {
    margin: 10px 0px 10px 0px;
    .adding-selected-school-subjects-btn {
        background-color: #0099ff;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 10px 10px 10px 10px;
        font-size: 17px;
        cursor: pointer;

    }
}

.content {
    .table {
        display: flex;
        width: 100%;
        padding: 5px 0px 5px 0px;
        align-items: center;
        .name-of-the-school-subject {
            margin-left: 10px;
            display: flex;
            justify-content: space-between;
            background-color: #006CCB;
            color: white;
            min-width: 300px;
            padding: 15px;
            font-size: 19px;
            border-radius: 5px;
        }
        .button-container {
            display: flex;
            .edit-name {
                font-size: 14px;
                background-color: #02437D;
                color: white;
                border: none;
                display: flex;
                width: 25px;
                justify-content: center;
                cursor: pointer;
                border-radius: 5px;
                align-items: center;
                margin: 0px 2px 0px 2px;
            }
            .removing-a-school-subject {
                font-size: 14px;
                background-color: #02437D;
                color: white;
                border: none;
                display: flex;
                width: 25px;
                justify-content: center;
                cursor: pointer;
                border-radius: 5px;
                align-items: center;
                margin: 0px 2px 0px 2px;
            }
            .removing-a-school-subject:hover {
                background-color: #01325e;
            }
        }

        .rating-and-weight {
            display: flex;
            flex-direction: column;
            width: 100px;
            margin-left: 10px;
            .school-grade-value {
                border: none;
                border: 2px solid #0099ff;
                height: 50%;
                text-align: center;
                font-size: 15px;
                background-color: #80ccff9c;
            }
            .weight-of-the-rating-value {
                font-size: 15px;
                text-align: center;
                border: none;
                height: 50%;
                border: 1px 2px 0px 1px solid #0099ff;
                border-bottom: 2px solid #0099ff;
                border-right: 2px solid #0099ff;
                border-left: 2px solid #0099ff;
                background-color: #80ccff9c;
            }
            input::placeholder {
                color: #006CCB;
            }
        }
        .adding-btn {
            background-color: #0099ff;
            color: white;
            border-radius: 50%;
            min-width: 45px;
            height: 45px;
            font-size: 35px;
            border: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            right: 26px;
        }
        .adding-btn:hover {
            background-color: #278ed2;
        }
        .school-grade {
            background-color: rgb(64, 127, 209);
            color: white;
            min-width: 57px;
            min-height: 57px;
            border-radius: 5px;
            max-height: 50px;
            display: inline-block;
            .school-grade-value {
                font-size: 27px;
                text-align: center;
                border-bottom: 2px solid white;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .weight-school-grade-value {
                position: relative;
                left: 8px;
                font-size: 11px;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 3px;
            }
        }
        .removing-school-grades {
            background-color: #02437D;
            border: none;
            color: white;
            height: 17px;
            width: 17px;
            cursor: pointer;
            font-size: 15px;
            position: relative;
            float: right;
            bottom: 37px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

    }
}

.menu-bottom-content {
    margin: 0px 10px 0px 10px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.adding-school-subjects {
    margin: 0px 0px 5px 0px;
    .adding-school-subjects-container {
        display: flex;
        width: fit-content;
        background-color: #0099ff;
        border-radius: 10px;
        padding: 9px;
        .adding-school-subjects-input {
            padding: 1px;
            height: 35px;
            font-size: 17px;
            border: none;
            width: 210px;
        }
        .adding-school-subjects-input::placeholder {
            text-align: center;
        }
        .adding-school-subjects-btn {
            border: none;
            background-color: #80ccff9c;
            color: white;
            cursor: pointer;
            font-size: 18px;
            padding: 0px 15px 0px 15px;
        }
    }
}

.average-of-all-subjects {
    background-color: #0099ff;
    color: white;
    font-size: 17px;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    .average-of-all-subjects-text {
        text-align: center;
        margin-bottom: 8px;
    }
    .average-of-all-subjects-result {
        background-color: #80ccff9c;
        padding: 0px 10px 0px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        border-radius: 5px;
    }
}